---
http_interactions:
- request:
    method: post
    uri: https://directline.botframework.com/v3/directline/tokens/generate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AZURE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"conversationId\": \"valid_conversation\",\r\n  \"token\":
        \"conversation_valid_token\",\r\n
        \ \"expires_in\": 3600\r\n}"
  recorded_at: Tue, 29 Oct 2019 01:32:45 GMT
recorded_with: VCR 5.0.0
