---
http_interactions:
- request:
    method: post
    uri: https://directline.botframework.com/v3/directline/conversations
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer conversation_valid_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"conversationId\": \"valid_conversation\",\r\n  \"token\":
        \"conversation_valid_token\",\r\n
        \ \"expires_in\": 3600,\r\n  \"streamUrl\": \"wss://directline.botframework.com/v3/directline/conversations/valid_conversation/stream?watermark=-&t=conversation_valid_token\",\r\n
        \ \"referenceGrammarId\": \"3ae54227-348e-6e54-ad8d-377525dfdca5\"\r\n}"
  recorded_at: Tue, 29 Oct 2019 01:46:53 GMT
recorded_with: VCR 5.0.0
