---
http_interactions:
- request:
    method: get
    uri: https://directline.botframework.com/v3/directline/conversations/valid_conversation/activities?replyToIdvalid_conversation%7C0000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer valid_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"activities\": [\r\n    {\r\n      \"type\": \"message\",\r\n
        \     \"id\": \"valid_conversation|0000000\",\r\n      \"timestamp\":
        \"2019-10-29T03:08:16.8349446Z\",\r\n      \"serviceUrl\": \"https://directline.botframework.com/\",\r\n
        \     \"channelId\": \"directline\",\r\n      \"from\": {\r\n        \"id\":
        \"031-06-2886\"\r\n      },\r\n      \"conversation\": {\r\n        \"id\":
        \"valid_conversation\"\r\n      },\r\n      \"text\": \"Around the survivors
        a perimeter create.\"\r\n    },\r\n    {\r\n      \"type\": \"message\",\r\n
        \     \"id\": \"valid_conversation|0000001\",\r\n      \"timestamp\":
        \"2019-10-29T03:08:17.9537799Z\",\r\n      \"localTimestamp\": \"2019-10-29T03:08:17.689+00:00\",\r\n
        \     \"channelId\": \"directline\",\r\n      \"from\": {\r\n        \"id\":
        \"CharlesBotNasa\",\r\n        \"name\": \"CharlesBotNasa\"\r\n      },\r\n
        \     \"conversation\": {\r\n        \"id\": \"valid_conversation\"\r\n
        \     },\r\n      \"text\": \"Oi! Para reportar algum incidente digite 1\",\r\n
        \     \"inputHint\": \"expectingInput\",\r\n      \"replyToId\": \"valid_conversation|0000000\"\r\n
        \   }\r\n  ],\r\n  \"watermark\": \"1\"\r\n}"
  recorded_at: Tue, 29 Oct 2019 03:31:16 GMT
recorded_with: VCR 5.0.0
