---
http_interactions:
- request:
    method: post
    uri: https://directline.botframework.com/v3/directline/conversations/valid_conversation/activities
    body:
      encoding: UTF-8
      string: '{"type":"message","from":{"id":"user1"},"text":"Test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer conversation_valid_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"id\": \"valid_conversation|0000004\"\r\n}"
  recorded_at: Tue, 29 Oct 2019 02:07:15 GMT
recorded_with: VCR 5.0.0
