---
http_interactions:
- request:
    method: post
    uri: https://directline.botframework.com/v3/directline/tokens/generate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <AZURE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"conversationId\": \"conversation_id\",\r\n  \"token\":
        \"valid_token\",\r\n
        \ \"expires_in\": 3600\r\n}"
  recorded_at: Tue, 29 Oct 2019 03:27:30 GMT
- request:
    method: post
    uri: https://directline.botframework.com/v3/directline/conversations
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer valid_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"conversationId\": \"conversation_id\",\r\n  \"token\":
        \"valid_token\",\r\n
        \ \"expires_in\": 3600,\r\n  \"streamUrl\": \"wss://directline.botframework.com/v3/directline/conversations/conversation_id/stream?watermark=-&t=valid_token\",\r\n
        \ \"referenceGrammarId\": \"3ae54227-348e-6e54-ad8d-377525dfdca5\"\r\n}"
  recorded_at: Tue, 29 Oct 2019 03:27:30 GMT
- request:
    method: post
    uri: https://directline.botframework.com/v3/directline/conversations/conversation_id/activities
    body:
      encoding: UTF-8
      string: '{"type":"message","from":{"id":"049-04-2258"},"text":"Already know
        you that which you need."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer valid_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"id\": \"conversation_id|0000000\"\r\n}"
  recorded_at: Tue, 29 Oct 2019 03:27:31 GMT
- request:
    method: get
    uri: https://directline.botframework.com/v3/directline/conversations/conversation_id/activities?replyToIdconversation_id%7C0000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer valid_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"activities\": [\r\n    {\r\n      \"type\": \"message\",\r\n
        \     \"id\": \"conversation_id|0000000\",\r\n      \"timestamp\":
        \"2019-10-29T03:27:31.1146662Z\",\r\n      \"serviceUrl\": \"https://directline.botframework.com/\",\r\n
        \     \"channelId\": \"directline\",\r\n      \"from\": {\r\n        \"id\":
        \"049-04-2258\"\r\n      },\r\n      \"conversation\": {\r\n        \"id\":
        \"conversation_id\"\r\n      },\r\n      \"text\": \"Already know
        you that which you need.\"\r\n    }\r\n  ],\r\n  \"watermark\": \"0\"\r\n}"
  recorded_at: Tue, 29 Oct 2019 03:27:32 GMT
[...]
- request:
    method: get
    uri: https://directline.botframework.com/v3/directline/conversations/conversation_id/activities?replyToIdconversation_id%7C0000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer valid_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"activities\": [\r\n    {\r\n      \"type\": \"message\",\r\n
        \     \"id\": \"conversation_id|0000000\",\r\n      \"timestamp\":
        \"2019-10-29T03:27:31.1146662Z\",\r\n      \"serviceUrl\": \"https://directline.botframework.com/\",\r\n
        \     \"channelId\": \"directline\",\r\n      \"from\": {\r\n        \"id\":
        \"049-04-2258\"\r\n      },\r\n      \"conversation\": {\r\n        \"id\":
        \"conversation_id\"\r\n      },\r\n      \"text\": \"Already know
        you that which you need.\"\r\n    },\r\n    {\r\n      \"type\": \"message\",\r\n
        \     \"id\": \"conversation_id|0000001\",\r\n      \"timestamp\":
        \"2019-10-29T03:27:32.1757442Z\",\r\n      \"localTimestamp\": \"2019-10-29T03:27:31.954+00:00\",\r\n
        \     \"channelId\": \"directline\",\r\n      \"from\": {\r\n        \"id\":
        \"CharlesBotNasa\",\r\n        \"name\": \"CharlesBotNasa\"\r\n      },\r\n
        \     \"conversation\": {\r\n        \"id\": \"conversation_id\"\r\n
        \     },\r\n      \"text\": \"Oi! Para reportar algum incidente digite 1\",\r\n
        \     \"inputHint\": \"expectingInput\",\r\n      \"replyToId\": \"conversation_id|0000000\"\r\n
        \   }\r\n  ],\r\n  \"watermark\": \"1\"\r\n}"
  recorded_at: Tue, 29 Oct 2019 03:27:32 GMT
recorded_with: VCR 5.0.0
